html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Slab', 'Roboto Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

body {
  overflow-x: hidden;
}

.card:hover .inner-box {
  transform: rotateY(-180deg);
}

.front-box,
.back-box {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 3rem;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.back-box {
  padding: 3rem;
}

.back-box .btn {
  transform: translateX(6rem);
  transition: transform 0.6s;
}

.front-box span {
  transform: translateX(0rem);
  transition: transform 0.6s;
}

.card:hover .front-box span {
  transform: translateX(-2rem);
}

.card:hover .btn {
  transform: translateX(0);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@keyframes attract {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes end {
  0% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(0);
  }
}
