nav {
  background: #000;
  width: 100%;
  padding: 1.5rem 15%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo img {
  height: 70px;
}

#logo .right {
  display: flex;
  flex-direction: column;
}

#logo .right * {
  padding: 0.1rem 0;
}

#stick {
  width: 3px;
  height: 60px;
  display: block;
  content: '';
  background: #fff;
  border-radius: 1.5px;
  margin: 0 2rem;
}

nav .links {
  display: flex;
  flex-direction: row;
}

nav a {
  font-size: 1.4rem;
  margin: 0 1rem;
  position: relative;
  display: block;
  padding: 0.2rem 0;
}

nav a::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: '';
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav a:hover::before {
  width: 100%;
}

nav a i {
  color: #a259ff;
  margin-right: 0.2rem;
}

nav a:first-child::before {
  background: #f24e1e;
}

nav a:nth-child(2)::before {
  background: #0acf83;
}

nav a:last-child::before {
  background: #a259ff;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
